


.main-page{
    background-color: red;
    width:1000px;
    height:800px;
    display: flex;
}
.little-square{
    background-color: black;
    width: 10px;
    height: 10px;
    position: relative;
    margin-right: 3px;
}
